
.password-container {
  max-width: 300px;
  margin: auto;
  padding-top: 20%;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.strength-indicator {
  display: flex;
}

.strength-indicator div {
  flex: 1;
  height: 10px;
  margin: 0 2px;
  background-color: gray; 
}

.red {
  background-color: red !important;
}

.yellow {
  background-color: yellow !important;
}

.green {
  background-color: green !important;
}

.gray {
  background-color: gray !important;
}
